---
import { Button } from "@/components/ui/button";
import { headerConfig } from "@/config/header";

const { title, description, button, logo } = headerConfig;
---

<header class="w-full flex justify-center px-8">
  <div
    class="grid grid-cols-3 gap-4 items-center justify-center mt-10 mb-10 w-xl"
  >
    <div
      class="col-span-3 xl:col-span-2 min-h-[26rem] flex justify-center items-center"
    >
      <section class="flex flex-col justify-center items-center h-full">
        <div class="text-center">
          <h1
            class="font-semibold text-3xl leading-[1.1] sm:text-3xl md:text-6xl text-center xl:text-left mb-5"
          >
            {title}
          </h1>
          <p
            class="max-w-[42rem] leading-normal text-gray-500 text-lg text-center xl:text-left mb-5"
          >
            {description}
          </p>
          <Button>
            <a target="_blank" rel="noreferrer" href={button.href}
              >{button.title}</a
            >
          </Button>
        </div>
      </section>
    </div>
    <div class="col-span-1 hidden xl:block">
      <img
        src={logo}
        alt="Logo"
        class="w-[266px] h-[266px] select-none dark:filter dark:invert"
      />
    </div>
  </div>
</header>
